/* Adding fonts */
@font-face {
    font-family: "Neon";
    src: url(../fonts/neon.otf);
}
@font-face{
    font-family: "Rubik";
    src: url(../fonts/rubik.ttf);
}

/* Positioning the logo in the top left corner */
#logo {
    width: 275px;
    height: 140px;
    margin-left: 15px;
    position: relative;
}

html {
    background-color: #000000;
}

/* Styling for the body, including generic font */
body {
    margin: 0;
    font-family: "Rubik";
    background-image: url(../media/wall.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #FFFFFF;
    font-size: 26px;
    height: 100vh;
}

/* Specific styling for the home page */
#homebody {
    background-image: url(../media/self-background.png);
}

/* General Menu sytling */
.menu {
    overflow: hidden;
    float: right;
    position: absolute;
    right: 10px;
    font-family: 'Neon';
    font-weight: 500;
    top: 20px;
    display: inline;
}

/* Menu Link Styling */
.menu a {
    float: left;
    text-align: center;
    text-decoration: none;
    font-size: 26px;
    padding: 12px 30px;
    color: #F148FB;
}

/* Menu Link styling when mouse hovers or link is active */
.menu a:hover, .menu a.active {
    color: #FFACFC;
}

/* Footer Positioning */
.footer {
    position: relative;
    text-align: center;
    width: 100%;
}

/* Fixed Footer for Home Page */
#homefooter {
    bottom: 10px;
    position: fixed;
}

/* Footer icon sizing */
.footer img {
    height: 40px;
    width: 40px;
}

/* Main body (content) styling */
.main{
    width: 100%;
    display: block;
    padding: 0;
    margin: 0;
}

/* Home page text styling */
#homepagetext {
    position: fixed;
    margin-right: 30px;
    margin-left: 60px;
    bottom: 50px;
}

/* Home page title */
#maintitle {
    font-size: 50pt;
    color: #FFACFC;
}

/* Home page pre-title */
#mainopener {
    color: #FFACFC;
    font-size: 26pt;
}

/* Regular Page Title */
.title {
    color: #FFACFC;
    font-size: 40pt;
    position: relative;
    text-align: center;
    width: 100%;
    display: block;
}

/* Link Styling */
a {
    color: #F148FB;
}

/* Regular Page Sections */
.section {
    background-color: #000;
    background-size: cover;
    background-position: center;
    border-color: #bb9dcf;
    border-width: 5px 0px;
    border-style: solid;
    box-shadow: 0px 0px 15px 10px #560A86;
    overflow: hidden;
    width: 100%;
    min-height: 85vh;
    line-height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px 0px 0px 0px;
}

/* Setting Background Images for IT Page */
#itIntro {
    background-image: url(../media/wtg.png);
}
#socialResponsiblity {
    background-image: url(../media/coding.png);
}
#personalRole {
    background-image: url(../media/classroom.png);
}

/* Gallery Padding Around Display Box */
#gallery {
    padding: 40px 0px;
}

/* Section with organisation table */
.organisationsSection {
    text-align: center;
    padding: 100px 175px;
    display: flex;
    flex-direction: column;
}

/* Text styling within sections */
.sectiontext {
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 30px;
    margin-bottom: auto;
    align-self: center;
    width: 40%;
    z-index: 10;
}

/* Text styling within about page boxes */
.aboutSectionText {
    line-height: 35px;
    font-size: 20px;
    padding: 10px;
}

/* Text styling within sections, anchored to the left side */
#text_left {
    margin-left: 30px;
    margin-top: 15vh;
    position: relative;
    align-self: flex-start;
}

/* Text styling within sections, anchored to the right side */
#text_right {
    margin-right: 30px;
    margin-top: 15vh;
    position: relative;
    align-self: flex-end;
}

/* Button to next section */
.sectionDownArrow {
    align-self: center;
    height: 175px;
    left: 40%;
    padding: 20px;
    cursor: pointer;
}

/* Images between sections */
.fillerImage {
    min-height: 100vh;
    align-self: center;
    width: 100%;
}

/* Title for organisation tables & within about timeline */
.subtitle {
    color: #F148FB;
    width: auto;
    display: block;
    font-size: 25pt;
}

/* Organisation Table Styling */
.organisationTable {
    border: none;
    font-size: 15pt;
}

/* Images within organisation tables */
.orgImage {
    height: 150px;
}

/* Styling for text within organisation tables */
.descriptionCell {
    text-align: justify;
    padding: 10px 20px;
}

/* Loading Screen behind spinner */
#loadingScreen {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    display: flex;
    opacity: 0.97;
    background-color: black;
    z-index: 999;
}

/* Loading Spinner styling */
#loadingSpinner {
    border: 5px solid #bb9dcf;
    border-top: 5px solid #560A86;
    box-shadow: 0px 0px 15px 10px #560A86;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2.5s linear infinite;
    z-index: 1000;
    margin: auto;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* Back to top button styling, non visible */
#backToTopButton {
    display: block;
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 1000;
    opacity: 0;
    visibility: hidden;
    transition: background-color .3s, 
    opacity .5s, visibility .5s;
}

/* Back to top button styling, visibility on as activated by script.js */
#backToTopButton.show {
    opacity: 1;
    visibility: visible;
    cursor: pointer;
}