@font-face {
    font-family: "Neon";
    src: url(media/neon.otf);
}

@font-face{
    font-family: "Rubik";
    src: url(media/rubik.ttf);
}

#logo {
    width: 275px;
    height: 140px;
    margin-left: 15px;
    position: relative;
}

html {
    height: 100%;
}

body {
    margin-top: 20px;
    margin-right: 0px;
    margin-left: 0px;
    margin-bottom: 5px;
    font-family: "Rubik";
    background-image: url(media/wall.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #FFFFFF;
    font-size: 26px;
}

#homebody {
    background-image: url(media/self-background.png);
    background-size: cover;
}

.menu {
    overflow: hidden;
    float: right;
    position: absolute;
    left: 35%;
    width: 65%;
    font-family: 'Neon';
    font-weight: 500;
    top: 20px;
    display: inline;
}

.menu a {
    float: left;
    text-align: center;
    text-decoration: none;
    font-size: 26px;
    width: 20%;
    padding-bottom: 12px;
    padding-top: 12px;
    color: #F148FB;
}

.menu a:hover {
    color: #FFACFC;
}

.menu a.active {
    color: #FFACFC;
}

.main{
    width: 100%;
    display: block;
    padding: 0;
    margin: 0;
}

#mainpagetext {
    position: relative;
    margin-top: 20px;
    margin-right: 30px;
    margin-left: 60px;
    margin-bottom: 20px;
    top: 50%;
}

#maintitle {
    font-size: 50pt;
    color: #FFACFC;
}

#mainopener {
    color: #FFACFC;
    font-size: 26pt;
}

.title {
    color: #FFACFC;
    font-size: 40pt;
    position: relative;
    text-align: center;
    width: 100%;
    display: block;
}

a {
    color: #F148FB;
}

.footer {
    position: relative;
    text-align: center;
    width: 100%;
}

#homefooter {
    bottom: 10px;
    position: fixed;
}

.footer img {
    height: 40px;
    width: 40px;
}

#spacer{
    display: block;
    min-height: 150px;
}

.section {
    background-color: #000;
    border-color: #bb9dcf;
    border-width: 5px 0px;
    border-style: solid;
    box-shadow: 0px 0px 15px 10px #560A86;
    overflow: hidden;
    width: 100%;
    min-height: 85vh;
    line-height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px 0px 0px 0px;
}

.sectiontext {
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 30px;
    margin-bottom: auto;
    align-self: center;
    width: 40%;
}

.fillerImage {
    min-height: 100vh;
    align-self: center;
    width: 100%;
}

.sectionDownArrow {
    align-self: center;
    height: 200px;
    left: 40%;
    padding-top: 0;
}

.commentsection{
    margin-left: 2%;
    margin-right: 2%;
    padding: 15px;
    background-color: #000;
    border-color: #bb9dcf;
    border-width: 5px;
    border-style: solid;
    border-radius: 20px;
    box-shadow: 0px 0px 15px 10px #560A86;
    overflow: hidden;
    align-items: center;
    display: block;
}

.commentsection img{
    max-height: inherit;
    max-width: 28%;
    float: right;
}

.pastsection_img {
    float: left;
    vertical-align: middle;
    margin: 15px;
    box-shadow: 0 0 8px 8px #222222;
    position: relative;
}

.futuresection_img {
    float: right;
    vertical-align: middle;
    margin: 15px;
    width: 320px;
    height: inherit;
    box-shadow: 0 0 8px 8px #222222;
    position: relative;
}

.subtitle {
    color: #F148FB;
    text-align: left;
    width: auto;
    display: block;
    font-size: 25pt;
}

.commentcontent {
    width: 70%;
    display: inline-block;
}

.orgImage {
    height: 150px;
}

.bottomSection {
    position: relative;
    text-align: center;
    width: 100%;
    padding-top: 75px;
    padding-bottom: 225px;
}

.logoColumn {
    width: 20%;
    float: left;
}

table {
    margin: 0;
    border: none;
    font-size: 15pt;
}

#tablediv {
    padding: 0;
    padding-top: 10px;
}

table tr:nth-child(odd) {
    background: #7122FA;
}

table tr:nth-child(even) {
    background: #560A86;
}

#commenttitle {
    text-align: center;
}

#accesslist {
    margin-left: 50px;
}